SUPABASE_URL=
SUPABASE_KEY=
ML_AFFILIATE_TAG=
ML_AFFILIATE_WORD=
AMAZON_AFFILIATE_TAG=
SHOPEE_APP_ID=
SHOPEE_APP_SECRET=
ML_CLIENT_ID=
ML_CLIENT_SECRET=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
WHATSAPP_GROUP_ID=